<!-- Бүртгэлийн хэсэг -->
{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Бүртгүүлэх</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <br/>
          <div class="form-group">
            <input type="password" class="form-control" name="password1" placeholder="Password">
          </div>
          <br/>
          <div class="form-group">
            <input type="password" class="form-control" name="password2" placeholder="Retype-password">
          </div>
          <br/>
        <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </form>
    <br/>
    <small id="emailHelp" class="form-text text-muted">Already have an account?<a href="{% url 'login' %}">Login</a></small>
</div>




{% endblock content %}